@import '_variables'
@import '_mixins'
@import '_eachs'

//
// **  Here are styles for 'main' section **
//  

.content__wrapper
	display: flex
	margin-top: 30px
	.content
		flex-grow: 1
		.content__popular
			@include flex(center, space-between)
			min-height: 280px
			margin-bottom: 30px
			.content__popular__photo
				margin-right: 20px
				flex-basis: 55%
				width: 100%
				height: 280px
				border-radius: $brd-rad
				background-image: url(./assets/background-popular.jpg)
				background-position: center
				background-size: cover
			.content__popular__list
				flex-basis: 45%
				.content__popular__hotel
					@include flex(center, space-between)
					border-radius: $brd-rad
					margin-top: 20px
					padding: 10px
					&:hover
						cursor: pointer
						box-shadow: 0px 0px 15px 0px #80808057
					.content__popular__hotel__logo
						flex-basis: 60px
						width: 60px
						height: 60px
						border-radius: $brd-rad
						background-size: cover
						box-shadow: inset 0px 0px 6px #80808085
						background-position: center
						flex-shrink: 0
					.content__popular__hotel__info
						padding-left: 20px
						flex-grow: 1
						.content__popular__hotel__rating
							display: block
							color: lightgrey
							margin-top: 5px
				.content__popular__hotel:nth-child(1)
					margin: 0
		.content__details
			@include flex(center, space-between)
			h2
				font-family: Nunito
				font-size: 22px
			.content__details__filter
				@include flex(center, center)
				color: $sec-col
				font-family: 'Comfortaa'
				background-color: rgba($sec-col, 0.3)
				padding: 10px 15px
				border-radius: 10px
				transition: all 0.25s
				&:hover
					color: $main-col
					background-color: rgba($sec-col, 1)
					path
						fill: $main-col
				svg
					margin-right: 5px
		.content__options
			@include flex(center, flex-start)
			margin-bottom: 20px
			margin-top: 20px
			padding-bottom: 20px
			border-bottom: 1px solid lightgrey
			.content__option
				color: lightgrey
				margin-right: 30px
				&:hover
					cursor: pointer
			.content__option.active
				color: $sec-col
		.content__describe
			color: lightgrey
			line-height: 25px
		.content__title
			font-family: 'Nunito'
			font-size: 22px
			margin: 30px 0 20px
		.content__photos__wrapper
			@include flex(center, false)
			flex-wrap: wrap
			.content__photos__img
				height: 250px
				border-radius: $brd-rad
				margin-bottom: 20px
				background-position: center
				background-size: cover
				opacity: 0.8
				transition: opacity 0.3s linear
				&:hover
					opacity: 1
			.content__photos__img:nth-child(2),
			.content__photos__img:nth-child(3)
				flex-basis: 33.33%
			.content__photos__img:nth-child(1),
			.content__photos__img:nth-child(4)
				flex-basis: calc(66.66% - 20px)
			.content__photos__img:nth-child(odd)
				margin-right: 20px

//
// ** media queries **
//
@media screen and (max-width: 578px)
	.content__wrapper .content 
		.content__photos__wrapper 
			display: block!important
			.content__photos__img
				margin: 0 0 20px!important
		.content__options .content__option
			margin-right: 15px

@media screen and (max-width: 768px)
	.content__wrapper .content .content__popular
		display: block
		.content__popular__photo
			margin-bottom: 30px

@media screen and (max-width: 1100px)
	.content__wrapper .content .content__popular 
		.content__popular__photo
			flex-basis: 40%
		.content__popular__list
			flex-basis: 60%