@import '_fonts'
@import '_variables'
@import '_mixins'
@import 'sidebar'
@import 'content'



$main-col: #ffffff	//white
$sec-col: #71d3c8	//blue-green
$trd-col: #f8f8f7	//grey
$title-col: #000000	//black





body
	height: 100vh
	width: 100vw
	background-color: $main-col
	padding: 20px 0
	display: flex
	font-family: "Comfortaa"

.main
	flex-grow: 1
	padding: 0 20px