//
// **  Here are styles for 'sidebar' section **
//    

@mixin flex($alignItems, $justifyContent)		
	display: flex
	
	@if $alignItems
		align-items: $alignItems

	@if $justifyContent
		justify-content: $justifyContent


$main-col: #ffffff	//white
$sec-col: #71d3c8	//blue-green
$trd-col: #f8f8f7	//grey
$title-col: #000000	//black
$brd-rad: 10px

.sidebar
	@include flex(center, space-between)
	flex-direction: column
	flex-basis: 100px
	flex-shrink: 0
	border-right: 2px solid $trd-col
	.sidebar__title h1
		font-size: 56px	
		font-family: 'Nunito'
		background: -webkit-linear-gradient(6rad, #71d3c8, #3b32ce, #f00)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
	.sidebar__navigation
		flex-grow: 1
		.sidebar__navigation__link
			display: block
			margin-top: 30px
			&.active
				position: relative
			&.active::after
				content: ''
				position: absolute
				right: -38px
				background: $sec-col
				width: 4px
				height: 40px
				top: 50%
				transform: translateY(-50%)
	.sidebar__footer
		width: 40px
		height: 40px
		background-color: $sec-col
		border-radius: $brd-rad

