//
// **  Here are styles for 'sidebar' section **
//    

.sidebar
    display: grid
    grid-template-rows: 130px auto 100px
    background-color: $drk-col
    border-radius: 24px
    .logo
        font-size: 64px
        font-family: $main-font
        color: $lght-col
        font-weight: bold
        justify-self: center
        align-self: center
    .routing
        justify-self: center
        .router__link
            display: block
            margin-top: 20px
    .router__link.logout
        justify-self: center
        align-self: center    